




<ion-content padding>
 
    <button ion-button icon-start  color = 'rgb'  (click)="go2home();"  class=go23home >
        <ion-icon name="ios-home"></ion-icon>
      </button>
  <hr>

  <br>
  <ion-row>

    <ion-col>
        <h4>East</h4>
   <br>
      <ion-list>
          
        <button ion-item *ngFor="let eutm of e">
          {{ eutm }}
      </button>
      </ion-list>
    </ion-col>

    <ion-col>
        <h4>North</h4>
        <br>
      <ion-list>
          
        <button ion-item *ngFor="let nutm of n">
        {{ nutm }}
      </button>
      </ion-list>
    </ion-col>

  </ion-row>

  <button ion-button full  color='rgb' (click)="goMap(); ">MAP</button>

</ion-content>
